* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	transition-duration: 50ms;
	color: #322;
}

h1 {
	font-size: 24px;
	font-weight: normal;
}

.top_bar {
	height: 80px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.top_bar input {
	margin: 16px;
	padding: 8px;
	border: 0;
	font-size: 24px;
	float: left;
}
.button {
	background-color:#48F;
	padding: 16px 32px;
	color: white;
	border-radius: 4px;
	margin: 12px;
	float: right;
	box-shadow: 0 4px 0 #24D;
	border-top: 1px solid #8DF;
	cursor: pointer;
	text-align: center;
}
.button.secondary {
	background-color:#FFF;
	padding: 16px;
	color: #48F;
	border-radius: 4px;
	margin: 12px;
	float: right;
	box-shadow: none;
	border-top: none;
	text-decoration: underline;
}
.button.bottom {
	position: relative;
	float: right;
}

.app_container {
	width: 100vw;
	display: flex;
	position: relative;
	height: calc(100vh - 80px);
	flex-direction: row;
	align-items: stretch;
    backface-visibility: hidden;
	will-change: overflow;
}

.sidebar {
	width: 256px;
	padding: 16px;
}

.workarea {
	width: calc(100% - 256px);
	padding: 64px;
}
.workarea input {
	margin: 16px;
	padding: 8px;
	border: 0;
	font-size: 24px;
}
.workarea textarea {
	font-family: monospace;
	margin: 16px;
	padding: 8px;
	border: 0;
	font-size: 16px;
	height: calc(100% - 128px);
	tab-size: 4;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
}
.workarea .error_info {
	margin: -64px 64px;
	z-index: -999;
}

.scroll_area {
	overflow: auto;
    -webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
.scroll_area::-webkit-scrollbar {
	display: none;
}

.card_tab {
	background-color: #FFF;
	padding: 32px;
	margin-bottom: 16px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
	border-left: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	cursor: pointer;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 12%;
}
.card_tab.selected {
	margin-right: -16px;
	margin-left: 16px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
	border-left: 4px solid rgba(0, 0, 0, 0.1);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-weight: bold;
}

.error_info {
	font-family: monospace;
	font-size: 12px;
	margin: 16px;
	color: red;
}

.pos_info {
	text-align: right;
	width: calc(100% - 40px);
	opacity: 0.25;
	margin-bottom: -48px;
	font-family: monospace;
	z-index: -999;
}

.add_card {
	padding: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    width: 128px;
    text-align: center;
    margin-left: 96px;
	font-size: 34px;
	cursor: pointer;
}

.modal_container {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(255, 255, 255, 0.9); /* Black w/ opacity */
}

.modal {
	width: 50vw;
	margin: 10vh auto;
	background-color: white;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 48px 64px 96px;
}
.modal * {
	margin: 16px 0;
}
.modal pre {
	border: 1px dashed rgba(0, 0, 0, 0.1);
	padding: 16px;
	border-radius: 16px;
	max-height: 600px;
	overflow: hidden;
}

pre {
	font-family: monospace;
}

.config {
	float: left;
	background-image: url('img/settings.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	opacity: 25%;
	width: 40px;
	height: 40px;
	margin: 20px 20px 20px -20px;
	cursor: pointer;
}
.config.nodes {
	float: right;
	margin: 20px 0;
	background-image: url('img/nodes.png');
}

.config:hover {
	opacity: 100%;
}

.modal textarea {
	font-family: monospace;
	padding: 8px;
	border: 2px dashed lightgray;
	border-radius: 8px;
	font-size: 12px;
	height: 240px;
	width: 100%;
	tab-size: 4;
	resize: none;
	background-color: rgba(0, 0, 0, 0);
}

.delete {
	background-image: url('img/delete.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	width: 44px;
	height: 44px;
	float: right;
	margin: 16px;
	opacity: 25%;
}
.delete:hover {
	opacity: 100%;
}
.incoming {
	background-image: url('img/incoming.png');
}
.outgoing {
	background-image: url('img/outgoing.png');
}
.incoming.outgoing {
	background-image: url('img/incoming-outgoing.png');
}
.end {
	background-image: url('img/end.png');
}

.settings {
	display: flex;
    flex-direction: column;
}

.settings input {
	padding: 8px;
	font-size: 14px;
}

.settings select {
	height: 36px;
	font-size: 14px;
}

.settings label {
	margin: 16px 0 0 0;
}

.preview {
	border: none;
	border-radius: 8px;
	position: absolute;
	width: 600px;
	height: 600px;
	top: calc(50vh - 300px);
	left: calc(50vh - 300px);
}

.preview.close_btn {
	position: absolute;
    top: calc(50vh - 288px);
    left: calc(50vh - 288px);
    width: 16px;
    height: 16px;
    background-color: #FF004D;
    border-radius: 16px;
    box-shadow: 0 4px 8px;
}
.preview_button.button {
    background-color: #8BC34A;
    box-shadow: 0 4px 0 #009688;
    border-top: 1px solid #CDDC39;
}

.nodemap {
	cursor: crosshair;
}